@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icons{
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.sidebar{
  width: fit-content;
}

.grey-text{
  color: #94a3b8;
}

.circle{
  height: 15px;
  width: 15px;
  background-color: #312e81;
  border-radius: 50%;
  display: inline-block;
}

.card-3{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-3::-webkit-scrollbar{
  display: none;
}